#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ComfyUI Prompt Extractor
Comment=Extract positive prompts from ComfyUI-generated PNG files
Exec=/gorgon/ia/pyAI312/bin/python3 /gorgon/ia/KomfyPrompt/main.py
Path=/gorgon/ia/KomfyPrompt
Icon=/gorgon/ia/KomfyPrompt/icon.png
Terminal=false
Type=Application
Categories=Graphics;Utility;Qt;KDE;
Keywords=comfyui;prompt;extractor;png;metadata;
MimeType=image/png;